In [49]:
import pandas as pd
import numpy as np
import requests

### **Function to fetch json data from tmdb api**

In [50]:
def fetch_data(api_key,i):
  url = "https://api.themoviedb.org/3/movie/top_rated?api_key={}&language=en-US&page={}".format(api_key,i)
  response = requests.get(url)
  # print(response.status_code)
  return response

In [51]:
api_key = "27a2bab07b53f7a2b09469a287ecaf64"

In [52]:
response = fetch_data(api_key,1)

In [53]:
json_data = response.json()
data = pd.DataFrame(json_data['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
data.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,67.237,8.7,21070
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,23.295,8.7,3538
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,101.500,8.7,15745
3,730154,Your Eyes Tell,"A tragic accident lead to Kaori's blindness, b...",2020-10-23,11.925,8.6,279
4,533514,Violet Evergarden: The Movie,As the world moves on from the war and technol...,2020-09-18,30.297,8.6,210

### **Creating a dataframe to store data from 428 pages**

In [54]:
df = pd.DataFrame()

In [55]:
for i in range(1,429):
  response = fetch_data(api_key,i)
  json_data = response.json()
  temp_df = pd.DataFrame(json_data['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
  df = df.append(temp_df,ignore_index=True)

In [56]:
df.shape

(8560, 7)

In [57]:
df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,67.237,8.7,21070
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,23.295,8.7,3538
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,101.500,8.7,15745
3,730154,Your Eyes Tell,"A tragic accident lead to Kaori's blindness, b...",2020-10-23,11.925,8.6,279
4,533514,Violet Evergarden: The Movie,As the world moves on from the war and technol...,2020-09-18,30.297,8.6,210